:root {
    --text: #7889FF;
    --bg: #96a2fa1a;
    --wight: #fff;
    --pink: #FF7FC2;
    --sky-blue: #6A83FE;
    --blue: #4A6DFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

main {
    max-width: 370px;
    margin: 0px auto;
}

.text-title {
    color: var(--text);
}

.title-text {
    font-weight: 800;
}

.title-nav {
    width: 170px;
}

.bodyy {
    border-radius: 8px;
    padding: 20px;
    color: var(--text);
    display: flex;
    justify-content: space-between;
    width: 380px;
    margin-left: -20px;
}

.body-project h5 {
    color: var(--wight);
    width: 30px;
    height: 30px;
    border-radius: 100%;
    padding: 2px;
    text-align: center;
    background-color: var(--pink);
}

.text-title-body-project {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.body-project {
    display: flex;
    flex-direction: column;
    background-color: var(--bg);
    border-radius: 40px;
    padding: 30px;
    gap: 30px;
    width: auto;
    height: auto;
}

.crad-title {
    font-size: 20px;
    margin-bottom: -5px;
}

.body-project h2 {
    color: var(--blue);
    font-weight: 800;
    font-size: 43px;
}

.card-title {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.card-title-2 {
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    padding: 14px;
    border-radius: 14px;
}

.text-card-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--blue);
    font-weight: 700;
    font-size: 23px;
}

.card-title-2 div {
    display: flex;
    justify-content: space-between;
    width: 70%;
    align-items: center;
}

.p-text-card-title {
    font-size: 10px;
    padding-top: 14px;
    color: gray;
    font-weight: 500;
}

.footer div {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.border {
    border-radius: 10px;
}

.footer {
    color: var(--blue);
}

.p-text-card-title {
display: flex;
}
